<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>安哥拉</string>
		<key>icon</key>
		<string>angela.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>安道尔</string>
		<key>icon</key>
		<string>andaoer.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱沙尼亚</string>
		<key>icon</key>
		<string>aishaniya.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>安哥拉</string>
		<key>icon</key>
		<string>angela.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爱尔兰</string>
		<key>icon</key>
		<string>aierlan.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>埃塞俄比亚</string>
		<key>icon</key>
		<string>aisaiebiya.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>埃及</string>
		<key>icon</key>
		<string>aiji.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿塞拜疆</string>
		<key>icon</key>
		<string>asaibaijiang.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿尔巴尼亚</string>
		<key>icon</key>
		<string>aerbaniya.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿尔及利亚</string>
		<key>icon</key>
		<string>aerjiliya.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿富汗</string>
		<key>icon</key>
		<string>afuhan.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿根廷</string>
		<key>icon</key>
		<string>agenting.png</string>
	</dict>
	<dict>
		<key>name</key>
		<string>阿拉伯国家联盟</string>
		<key>icon</key>
		<string>alaboguojialianmeng.png</string>
	</dict>
</array>
</plist>
