<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
			<string>石家庄</string>
			<string>保定市</string>
			<string>秦皇岛</string>
			<string>唐山市</string>
			<string>邯郸市</string>
			<string>邢台市</string>
			<string>沧州市</string>
			<string>承德市</string>
			<string>廊坊市</string>
		</array>
		<key>name</key>
		<string>河北省</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>太原市</string>
			<string>大同市</string>
			<string>阳泉市</string>
			<string>长治市</string>
			<string>临汾市</string>
			<string>晋中市</string>
			<string>运城市</string>
			<string>晋城市</string>
			<string>忻州市</string>
		</array>
		<key>name</key>
		<string>山西省</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>呼和浩特</string>
			<string>呼伦贝尔</string>
			<string>包头市</string>
			<string>赤峰市</string>
			<string>乌海市</string>
			<string>通辽市</string>
			<string>鄂尔多斯</string>
			<string>乌兰察布</string>
			<string>巴彦淖尔</string>
		</array>
		<key>name</key>
		<string>内蒙古</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>盘锦市</string>
			<string>鞍山市</string>
			<string>抚顺市</string>
			<string>本溪市</string>
			<string>铁岭市</string>
			<string>锦州市</string>
			<string>丹东市</string>
			<string>辽阳市</string>
			<string>葫芦岛</string>
		</array>
		<key>name</key>
		<string>辽宁省</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>吉林市</string>
			<string>通化市</string>
			<string>白城市</string>
			<string>四平市</string>
			<string>辽源市</string>
			<string>松原市</string>
			<string>白山市</string>
		</array>
		<key>name</key>
		<string>吉林省</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>伊春市</string>
			<string>牡丹江</string>
			<string>大庆市</string>
			<string>鸡西市</string>
			<string>鹤岗市</string>
			<string>绥化市</string>
			<string>双鸭山</string>
			<string>七台河</string>
			<string>佳木斯</string>
		</array>
		<key>name</key>
		<string>黑龙江省</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<string>无锡市</string>
			<string>常州市</string>
			<string>扬州市</string>
			<string>徐州市</string>
			<string>苏州市</string>
			<string>连云港</string>
			<string>盐城市</string>
			<string>淮安市</string>
			<string>宿迁市</string>
		</array>
		<key>name</key>
		<string>江苏省</string>
	</dict>
</array>
</plist>
